body {
    background-image: url('images/background_image.jpg');
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center; 
}


.navbar-custom {
    background: linear-gradient(to right, #99bae2, #4da5ce, #7987d7); 
    color: #ffffff; 
}

.middle-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #20375b; 
    background-color: #b7d9ec;
    width: fit-content;
    padding: 20px 0;
    margin: 18px auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    max-width: 80%;
    text-align: center; 
}



#title {
    font-weight: 400;
}

#togglerBtn {
    border-radius: 30px;
    border: 2px solid black;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.pagination button {
    color: #4da5ce; /* Color of the button text */
    background-color: transparent; /* Make the background transparent */
    border: 1px solid #4da5ce; /* Add border to the buttons */
    border-radius: 5px; /* Round the corners */
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer; /* Cursor to pointer to indicate it's clickable */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.pagination button:hover {
    background-color: #4da5ce; /* Color for hover state */
    color: #ffffff;
}

.pagination button.active {
    background-color: #99bae2; /* Background color for active button */
    color: #ffffff;
    border-color: #99bae2;
}

@media (min-width: 992px) {
    #title {
        padding-left: 20px; 
        padding-right: 20px;
    }
}


#home, #khoi, #navbarDropdown {
    font-size: 17px;
    color: #01060c; 
}

#searchBtn, #signIns {
    font-weight: 900;
    color: #ffffff; 
    background-color: #8bb0d7; 
    border: none;
}

#searchBtn:hover, #signIns:hover {
    color: #ffffff; 
    background-color: #98b5d1; 
}

.dropdown-item {
    font-weight: 350;
    color: #343a40; 
}

.form-inline.my-2.my-lg-0 {
    margin-left: auto; 
    margin-right: 7%; 
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

a.nav-link:hover, .dropdown-item:hover {
    color: #e1e0ed; 
}